* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* =======header section code start=======*/
header{
    max-width: 1550px;
    margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 150px;
  align-items: center;
}

.Brand-logo-image {
  height: 80px;
  width: 100%;
}
.navigation-bar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation-bar-links li a {
  font-size: 1.2em;
  color: darkgrey;
}
#active-link {
  color: black;
  font-weight: 600;
}
.navigation-bar-links li a:hover {
  color: red;
  transition: 0.5s;
}
.navigation-bar-links li a img {
  height: 20px;
}

/* ---Banner section--- */

.banner-section {
  margin: 120px 150px;
}
.banner-body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.banner-title {
  font-size: 4rem;
  span {
    color: tomato;
  }
}
.banner-Discription {
  margin-top: 20px;
  font-size: 23px;
  color: darkgrey;
}
.banner-image {
  margin-top: 100px;
  height: 300px;
  width: 100%;
}
/* =======header section code end=======*/

/* =======plants section code start=======*/
main{
  max-width: 1550px;
  margin: auto;
}
.plants-section 
{
  margin: 120px 150px;
}
.plants-title-discription 
{
  text-align: center;
  h2 {
    font-size: 2.8rem;
    span {
      color: tomato;
    }
  }
  p {
    font-size: 23px;
    color: darkgrey;
    margin-top: 20px;
  }
}

.Plant-cards {
  margin-top: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}
.card-body {
  width: 300px;
  margin: auto;
}
.card-image {
  height: auto;
  width: 300px;
}
.product-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
.product-price {
  font-size: 1.8rem;
  text-align: center;
}
.add-card-button {
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  border: none;
  background-color: tomato;
}

/* =======plants section code end=======*/

/* =======plants-lover section code start=======*/

.plants-lover-section {
  margin: 220px 150px 150px 150px;
}
.plants-lover-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.plants-lover-container {
  display: flex;
  position: relative;
}
.planrs-lover-img {
  height: 600px;
  width: 550px;
}
.plants-lover-badge {
  height: 280px;
  position: absolute;
  transform: translate(400px, -120px);
}
.plants-details h1 {
  font-size: 4rem;
}
.plants-details ul li {
  font-size: 1.3rem;
  margin: 25px;
  color: darkgrey;
}

/* =======plants-lover section code end=======*/

/* =======latest-deals-section code start=======*/

.latest-deals-section {
  margin: 0 150px;
}
.latest-deals-title {
  text-align: center;
  font-size: 3rem;
  span {
    color: tomato;
  }
}
.latest-deals-explaine {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
  color: darkgray;
}

/* =======latest-deals-section code end=======*/

/* =======trusted-plant-section code start=======*/

.trusted-plant-lover-badge-section {
  margin: 120px 150px;
}
.plants-shop-contailer {
  width: 100%;
  display: flex;
}
.double-box-container {
  width: 35%;
}


.badge-box-1 {
  height: 220px;
  margin-bottom: 0px;
  background-image: url(./assets/deal-ana.png) ;
  h2{
    font-size: 1.8rem;
    color: white;
  }
  a{
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    text-decoration: underline;
  }
}
.badge-box-2 {
  height: 220px;
  background-image: url(./assets/deal-bloom.png);
  margin-top: 20px;
  h2{
    font-size: 1.8rem;
    color: white;
  }
  a{
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    text-decoration: underline;
  }
}
.badge-box {
  width: calc(65% - 30px);
  height: 460px;
  background-image: url(./assets/deal-zabo.png);
  margin-left: 30px;
  h2{
    font-size: 2.8rem;
    color: white;
  }
  a{
    font-size: 2.2rem;
    color: white;
    margin-top: 20px;
    text-decoration: underline;
  }
}

.common-box-style
{
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 30px;
  filter: brightness(0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

/* =======trusted-plant-section code end=======*/


/* =======join-section code start=======*/

.join-section
{
    width: 100%;
    background-image: url(./assets/news-letter-bg.png);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.join-title
{
    font-size: 3.5rem;
    color: white;
}
.email-input
{
    height: 50px;
    width: 600px;
    border: none;
    margin: 20px 0;
    font-size: 1.1rem;
    padding-left: 20px;
}
.Subscribe-button
{
    height: 50px;
    width: 200px;
    border: none;
    margin: 20px 0;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: -5px;
    background-color: tomato;
}

/* =======join-section-section code end=======*/


/* =======footer-section-section code start=======*/


footer{
    max-width: 1550px;
    margin: auto;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
}
.site-logo-info
{
    font-size: 1.5rem;
    color: darkgray;
    line-height: 35px;
    margin-top: 30px;
}
.footer-nav-links
{
    list-style: none;
}
.footer-nav-links li, a
{
    text-decoration: none;
    font-size: 1.1rem;
    color: darkgrey;
    margin: 35px;
}
.footer-features-links
{
    list-style: none;
}
.footer-features-links li, a
{
    text-decoration: none;
    font-size: 1.1rem;
    color: darkgrey;
    margin: 35px;
}

.footer-social-links
{
    list-style: none;
    display: flex;
    margin-top: 30px;
}
.footer-social-links li
{
    width: 60px;
    height: 50px;
}




/* =======footer-section-section code end=======*/
